<h1> Edit Author</h1>


<% if flash[:errors]%>
    <% flash[:errors].each do |error| %>
            <p style="color: red"><%= error%></p>
    <% end %>
<%end%>


   <%= form_tag update_author_path(@author), method: :patch do  %>
  
        <%= label_tag :authorname%>
        
        <%= text_field_tag :author_name, @author.author_name %>
        
   <%= submit_tag "Update"%>
<%end%>