<%= stylesheet_link_tag "authors", media: "all", "data-turbolinks-track" => "reload" %>

<% if flash[:errors]%>
        <div class="alert alert-warning" role="alert">
                <%= flash[:errors] = "You are not Authorized to that!"%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
<%end%>
 
  <div class="container-fluid p-0"> 
        <div class="row" id="body-row">
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
                <ul class="list-group">
                    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        <small>MAIN MENU</small>
                    </li>
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="icon">
                            <i class="fas fa-list-alt mr-3"></i>
                            </span> 
                            <span class="menu-collapsed">Dashboard</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                      </a>
                          <div id='submenu1' class="collapse sidebar-submenu">
                              <a data-toggle="list" href="#home" class="list-group-item list-group-item-action bg-dark text-white">
                                  <span class="menu-collapsed"> <i class="fas fa-users mr-3"></i>Tag Section</span>
                              </a>

                         </div>
                  
  
                    <a class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="icon">
                              <i class="fas fa-power-off"></i>
                            </span> 
                                <%= button_to  "Log Out", logout_user_path,class: "btn btn-link menu-collapsed" ,method: :delete%>
                        </div>
                    </a>

                </ul>
            </div><!-- sidebar-container end -->
            <div class="col">
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">

                <div class="jumbotron">
                    <h1 class="display-4">Tag Section</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut. </p>                      
                        <% if is_admin? %> 
                            <%= button_to  "Add New Tag",new_tag_path,  :class => "btn btn-primary btn-md",method: :get%>   
                        <%end%>
                </div>

                <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">tag_id</th>
                            <th scope="col">Tag Name</th>
                             <% if is_admin? %>
                            <th scope="col">Action</th>
                            <%end%>
                          </tr>
                        </thead>
                        <tbody>
                            <% @tags.each do |tag| %>
                          <tr>
                            <th scope="row"><%= tag.id%></th>
                            <td><%=  tag.name %></td>
                                <% if is_admin? %>
                            <td><%= link_to "Show Details",edit_tag_path(tag)%></td>
                            <td>
                                  <span class="del-btn">
                                      <%= link_to "x", delete_tag_path(tag), :class => "del-btn" ,method: :delete%> 
                                  </span>
                            </td>
                               <% end %> 
                          </tr>
                          <%end%>
                        </tbody>
                      </table>
                </div>          
        </div><!-- content end -->
